.input-group-text{
    background-color: transparent;
    //border: none;
    border-collapse: collapse;
}
form{
    width: 50%;
    margin: auto;
    justify-self: center;
    margin: auto;
}

.row{
    margin: auto;
}
button{
    width: 100%;
}
